<!DOCTYPE html>
<html>
  <head>
    <title>My favorites are ...?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.20.8/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.20.8/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.20.8/dist/js/uikit-icons.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L1XRZMMH7N"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-L1XRZMMH7N');
    </script>
    <!-- Google Analytics 終了 -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=M+PLUS+1p&family=M+PLUS+Rounded+1c&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <!-- Google Fonts 終了 -->
    <!-- Twitter リンクカード -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta property="og:url" content=<%= "#{share_path(id: @spotify_ids, term: @term, limit: @limit, kind: @kind)}" %>  />
    <meta property="og:title" content="My favorites are ...?" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="top.png" />
    <!-- Twitter リンクカードここまで -->
  </head>

  <body>
    <div class="uk-width-5-6 uk-margin-auto-left uk-margin-auto-right">
      <!-- ヘッダー -->
      <%= render HeaderComponent.new(title: "My favorites are ...?") %>
      <%= yield %>
    </div>
  </body>
</html>
